{% extends 'base.html' %}


{% block header %}
  <h1>{% block title %}Update Profile{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="oldPassword">Old Password</label>
    <input type="password" name="oldPassword" id="oldPassword" required>
    <label for="password">New Password</label>
    <input type="password" name="newPassword" id="newPassword" required>
    <label for="confirmNewPassword">Confirm Password</label>
    <input type="password" name="confirmNewPassword" id = "confirmNewPassword" required>
    <input type="submit" value="Register">
  </form>
{% endblock %}